body{
	margin: 0;
	padding: 0;
	font-family: Verdana;
	height: 100vh;
	overflow: hidden;
}

/*-------grid class-start------*/

.container-fluid{
  width: 100%;
  padding: 0;
  margin:0;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-12, .col-md-5, .col-md-7, .col-lg-4, .col-lg-8, .col-xl-3, .col-xl-9{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 68%;
    flex: 0 0 68%;
    max-width: 68%;
  }
}
@media (min-width: 1400px) {
  .col-xl-3 {
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 72%;
    flex: 0 0 72%;
    max-width: 72%;
  }
}
/*-------grid class-end------*/


.image-container{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.header-img{
	background: url(../images/Jurjen-de-Vries-Muse-Google-Glass.jpg) no-repeat center;
	background-size: cover;
	filter: brightness(0.85);
	width: 100%;
	height: 100%;
}
.icon-sec{
	margin-top: 25%;
	text-align: center;
}
.icon-wrapper{
}
.header_txt{
	padding: 0 8px;
}
.header_txt h1{
	font-size:2.1rem;
	text-align: center;
	font-weight: 200;
}
.header_txt h1 {
  overflow-x: hidden;
  border-right: .1em solid orange;
  white-space: nowrap;
  box-sizing: border-box;
  margin: auto;
  animation: typewriter 3.5s steps(44, end), blinkTextCursor 400ms steps(44)normal infinite ;
}
@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinkTextCursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.icons-container{
	display:inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.icons{
	height: 35px;
	margin: 2px;
	transition: .5s;
}
.icons:hover{
	transform: scale(1.2);
}


@media only screen and (max-width: 1699.98px) {
	.header_txt h1{
		font-size: 1.9rem;
	}
}
@media only screen and (max-width: 1549.98px) {
	.header_txt h1{
		font-size: 1.75rem;
	}
}
@media only screen and (max-width: 1439.98px) {
	.header_txt h1{
		font-size: 1.7rem;
	}
}
@media only screen and (max-width: 1198.98px) {
	.header_txt h1{
		font-size: 1.65rem;
	}
}
@media only screen and (max-width: 1149.98px) {
	.header_txt h1{
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 1049.98px) {
	.header_txt h1{
		font-size: 1.52rem;
	}
}
@media only screen and (max-width: 991.98px) {
	.header_txt h1{
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 899.98px) {
	.header_txt h1{
		font-size: 1.48rem;
	}
}
@media only screen and (max-width: 849.98px) {
	.header_txt h1{
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 768px) {
	.image-container{
		height: 100vh;
	}
	.icon-wrapper{
		height: 100vh;
	}
}
@media only screen and (max-width: 767.98px) {
	.header_txt h1{
		max-width: 400px;
	}
	.image-container{
		height: 70vh;
	}
	.icons{
		height: 30px;
		margin: 5px;
	}
	.icon-wrapper{
		height: 30vh;
		padding-top:8%;
		margin: 0;
	}
	.icon-sec{
		margin: 0;
		padding:5% 0;
	}
}
@media only screen and (max-width: 767.98px) {
	.header_txt h1{
		font-size: 1.6rem;
	}
	.image-container{
		height: 70vh;
	}
	.icons{
		height: 30px;
		margin: 5px;
	}
	.icon-wrapper{
		height: 30vh;
		margin: 0;
	}
	.icon-sec{
		padding:5% 0;
	}
}
@media only screen and (max-width: 575.98px) {
	.header_txt h1{
		font-size: 1.5rem;
		max-width: 350px;
	}
	.icons{
		height: 25px;
	}
	.icon-wrapper{
		padding-top:10%;
	}
	.icon-sec{
		padding-top:5%;
	}
}
@media only screen and (max-width: 375.98px) {
	.header_txt h1{
		font-size: 1.4rem;
	}
}
@media only screen and (max-width: 319.98px) {
	.header_txt h1{
		font-size: 1.2rem;
	}
}